.search-container {
  padding: var(--gap-smallest);
  background-color: white;
  margin: 1rem 0;
  color: yellow;
  display: flex;
  align-items: center;
  border: 1px solid var(--background-color);
}

.search-container input {
  flex-grow: 4;
  margin: var(--gap-smallest);
  border: none;
  padding: 5px;
}

.search-container input:focus {
  outline: none;
}
